* {
    box-sizing: border-box;
  }
  
html {
      scroll-behavior: smooth;
  }

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: none;
    color: currentColor;
  }

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
  }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.my-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-right: 120px;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-name:hover,
.my-name:focus {
  transform: scale(1.05);
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

section {
  padding: 100px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #2e2f42;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

header .container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: inline-flex;
  gap: 40px;
  margin: 0;
}

.header-nav {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: flex;
  align-items: center;
}

.header-address-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.header-address {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav:hover,
.header-nav:focus,
.header-address:hover,
.header-address:focus {
  color: #404bbf;
}

/* #region Hero*/ 
.hero-section {
  padding: 100px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-section .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo-section {
  position: relative;
  width: 280px;
  height: 320px;
  background-color: #c7c7c7;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-right: 150px;
}

.photo-descr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-title {
  max-width: 500px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 30px;
}

.about-me {
  max-width: 450px;
  margin-bottom: 25px;
}

.order-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  min-width: 169px;
  display: block;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region Portfolio sectiom */

.portfolio-section {
  background-color: #fafafa;
}

.portfolio-title {
  margin-bottom: 65px;
}

.portfolio-cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-card-link {
  margin: 0 auto;
}

.portfolio-card-photo {
  position: relative;
  width: 350px;
  height: 300px;
  background-color: #fff;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

.portfolio-card-photo:hover,
.portfolio-card-photo:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.portfolio-photo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-card-extrainfo {
  position: absolute;
  width: 350px;
  height: 300px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 30px;
  top: 0;
  left: 0;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-extrainfo:hover, 
.portfolio-card-extrainfo:focus {
  background-color: #c7c7c7;
}

.portfolio-card-extratext {
  color: #fff;
}

/* #endregion */

/* #region Contacts */
.form-main-wrapper {
  border-radius: 4px;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2); */
  background: #fcfcfc;
  width: 408px;
  padding: 35px;
  margin: 0 auto;
}

.contact-title {
  margin-bottom: 65px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 8px;
}

.contact-form-wrapper {
  position: relative;
}

.contact-label {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.contact-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-input:focus + .conact-form-icon {
  fill: #4d5ae5;
}

.contact-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 38px;
  outline: transparent;
  color: #2e2f42;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-input:focus {
  border-color: #4d5ae5;
}

.comment-container {
  margin-bottom: 16px;
}

.contact-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 120px;
  resize: none;
  /* font-size: 12px; */
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-comment:focus {
  border-color: #4d5ae5;
}

.contact-comment::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.contact-form-agreement {
  margin-bottom: 24px;
}

.agreement-container {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: transparent;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-agreement:checked + .agreement-container .contact-form-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.contact-checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
}

.user-agreement:checked
  + .agreement-container
  .contact-form-checkbox
  .contact-checkbox-icon {
  opacity: 1;
}

.user-agreement:focus-visible + .agreement-container .contact-form-checkbox {
  outline: 2px solid #404bbf;
  outline-offset: 2px;
}

.privacy-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn {
  display: block;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Modal */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
  transition-delay: 200ms;
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition-delay: 0ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  width: 408px;
  min-height: 584px;
  padding: 24px;
  padding-top: 72px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-backdrop.is-open .modal {
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn .icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon,
.modal-close-btn:focus .icon {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 8px;
}

.modal-form-wrapper {
  position: relative;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 38px;
  outline: transparent;
  color: #2e2f42;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.comment-container {
  margin-bottom: 16px;
}

.modal-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-comment::placeholder {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.modal-form-agreement {
  margin-bottom: 24px;
}

.modal-agreement-container {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: transparent;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-agreement:checked + .modal-agreement-container .modal-form-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
}

.modal-user-agreement:checked
  + .modal-agreement-container
  .modal-form-checkbox
  .modal-checkbox-icon {
  opacity: 1;
}

.modal-user-agreement:focus-visible + .modal-agreement-container .modal-form-checkbox {
  outline: 2px solid #404bbf;
  outline-offset: 2px;
}

.privacy-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn {
  display: block;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}

/* #endregion */